---
---

// /* 1. 在这里定义字体变量 */
// /* 大多数 AcademicPages 模板使用 $sans-serif 或 $base-font-family */
// $sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $base-font-family: $sans-serif;

/* 1. 在顶部定义 Times New Roman 字体栈 */
$serif: "Times New Roman", Times, Baskerville, Georgia, serif;
$sans-serif: "Times New Roman", Times, Baskerville, Georgia, serif; /* 如果你希望全局（包括导航栏）都变 */
$base-font-family: $serif;

/*
 * This file controls what is imported from /_sass
 *
 * Note that the files are processed in the order they are imported, so they are partly
   sorted by the dependencies. Also, the first two lines of the file are required by Jekyll.
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/default",
    "theme/dark",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands"
;
